<mat-tree [dataSource]="dataSource" [treeControl]="dataSource.treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>

        <ng-container [ngTemplateOutlet]="treeNodeTemplate || defaultTreeNodeTemplate"
          [ngTemplateOutletContext]="{$implicit: node}">
        </ng-container>
      </mat-tree-node>
      
      <mat-tree-node *matTreeNodeDef="let node;when: dataSource.hasChildren" matTreeNodePadding>
        <mat-progress-spinner *ngIf="node.isLoading; else loaded" mode="indeterminate" diameter="20" style="margin:10px;"></mat-progress-spinner>

        <ng-template #loaded>
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
                {{dataSource.treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
            </button>
        </ng-template>

        <ng-container [ngTemplateOutlet]="treeNodeTemplate || defaultTreeNodeTemplate"
          [ngTemplateOutletContext]="{$implicit: node}">
        </ng-container>
      </mat-tree-node>
</mat-tree>

<ng-template #defaultTreeNodeTemplate let-node>
  <mat-icon *ngIf="node.iconName" style="font-size: 20px; height: 20px">{{node.iconName}}</mat-icon>
  {{node.name}}
</ng-template>
